html {
    font-size: 6.25%;
}

body, h1, h2, h3, h4, h5, ul, p, div, span, ul, li, a, input, button {
    margin: 0;
    font-size: 14rem;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    color: unset;
}
