// COLORS //
$c_primary: #6ead65;
$c_secondary: #c97d51;
$c_info: #70a8e9;
$c_success: #65cc50;
$c_warning: #cea73b;
$c_danger: #d14343;
$c_light: #f3f3f3;
$c_dark: #151515;

// BREAKPOINTS //
$s_sm: 640px;
$s_md: 768px;
$s_lg: 1024px;
$s_xl: 1280px;
$s_2xl: 1536px;